.armor-list .card {
    margin-top: 20px;
    min-height: 280px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.armor-list .card-header {
    font-size: 14px;
}

.armor-list .card img.amiibo-img {
    position: absolute;
    top: 5px;
    right: 10px;
}

.armor-list .card .dlc {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: #AAA;
}


.armor-list .card img.armor-img {
    max-height: 95px;
    margin-left: 40px;
}

.armor-list .card ul {
    columns: 2;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.armor-list .card-footer {
    padding: 10px;
    min-height: 225px;
}

    .armor-list .card-footer button {
        font-size: 12px;
        padding: 0;
    }

    .armor-list .card-footer span {
        font-size: 14px;
    }

    .armor-list .card-footer label {
        font-size: 12px;
    }

    .armor-list .card-footer hr {
        margin: 2px;
    }

.armor-list .card-body {
    padding-bottom: 5px;
    min-height: 150px;
}

.armor-list .obtained {
    background-color: #b3f4b3;
}


.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow: auto;
    margin-top: 40px;
}
