

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <material-result></material-result>
</nav>




<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 col-sm-6">
    <h2>Welcome to the BOTW Armor Tracker</h2>

    <p>This web site is designed to help you track which armors you have already collected, the current level of each of them and the necessary items to fully upgrade it.</p>
    <p>
        On each card you will find a armor. To change the level, first mark it as obtained.
        After that you will be able to use the stars to change the level of your armor and select the current level of your armor.
        By changing the level the list of materials below the armor will be updated,
        indicating the remaining items to fully upgrade the armor.
    </p>
    <p>On the left, you can find a list of all the materials needed to fully upgrade every armor you marked as obtained.</p>
    <p>The web site will save locally your modifications, so if you use it again you can resume your work. </p>

    <armor-filter></armor-filter>
    <br />
    <div class="armor-list">
        <div class="card" *ngFor="let armor of filteredArmorList">
            <div [class]="armor.obtained? 'card-header obtained': 'card-header'">
                <input type="checkbox" [(ngModel)]="armor.obtained" (ngModelChange)="changeObtained(armor)" /> Already Obtained?
            </div>
            <div class="card-body">
                <h5 class="card-title" style="margin:0;">{{armor.name}}</h5>
                <armor-star [(ngModel)]="armor.currentLevel" (ngModelChange)="changeLevel(armor)"
                            *ngIf="armor.isUpgradable" [disable]="!armor.obtained"></armor-star>
                <img class="" src="{{armor.imagePath}}" alt="{{armor.name}}">
            </div>
            <div class="card-footer text-muted" *ngIf=" armor.groupedMaterials.length == 0 && armor.isUpgradable">
                Upgrade completed!
            </div>
            <div class="card-footer text-muted" *ngIf=" armor.groupedMaterials.length == 0 && !armor.isUpgradable">
                Cannot be upgraded.
            </div>
            <div class="card-footer text-muted" *ngIf=" armor.groupedMaterials.length > 0">
                <ul *ngIf=" armor.groupedMaterials.length > 0">
                    <li *ngFor="let material of armor.groupedMaterials">
                        {{material.name}} x{{material.quantity}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

</main>



