<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <material-result></material-result>
</nav>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 col-sm-6">
    <h2>Welcome to the BOTW Armor Tracker</h2>
    <p>
        This web site is designed to help you track which armors you have already collected,
        the current level of each of them and the necessary items to fully upgrade it. You also can change to display the material by upgrade level.
    </p>
    <p>
        On each card you will find a armor. To change the level, first mark it as obtained.
        After that you will be able to use the stars to change the level of your armor and select the current level of your armor.
        By changing the level the list of materials below the armor will be updated,
        indicating the remaining items to fully upgrade the armor.
    </p>
    <p>On the left, you can find a list of all the materials needed to fully upgrade every armor you marked as obtained.</p>
    <p>The web site will save locally your modifications, so if you use it again you can resume your work. </p>
    <p>Any feedbacks? Reach out to me on <a href="https://www.reddit.com/user/leojesus/" target="_blank">reddit</a></p>
    <div class="alert alert-info col-sm-12" role="alert">
        <h4>Updates!</h4>
        <ul>
            <li>Improved the performance of the application</li>
            <li>Fix the links for the materials</li>
            <li>Thanks <b>Jesse Miller</b> and <b>Lindsey Carboneau</b> for the donations. It means a lot!</li>
        </ul>
    </div>

    <armor-filter></armor-filter>
    <br />
    <div class="armor-list row">
        <div class="col-sm-4" *ngFor="let armor of filteredArmorList;let idx = index;">
            <div class="card">
                <div class="card-header">
                    <toggle label="Already Obtained?"
                            [(ngModel)]="armor.obtained"
                            (ngModelChange)="changeObtained(armor)"></toggle>
                    <img *ngIf="armor.amiiboRelated" title="This armor is obtained using an Amiibo" class="amiibo-img" src="/images/amiibo.png" />
                    <p *ngIf="armor.dlcRelated"
                       title="This armor is obtained on a DLC"
                       class="dlc lead">DLC</p>
                </div>
                <div class="card-body">

                    <h5 class="card-title" style="margin:0;">
                        <a target="_blank" href="{{armor.externalLink}}">{{armor.name}}</a>
                    </h5>
                    <armor-star [(ngModel)]="armor.currentLevel" (ngModelChange)="changeLevel(armor)"
                                *ngIf="armor.isUpgradable" [disable]="!armor.obtained"></armor-star>
                    <img class="armor-img" src="{{armor.imagePath}}" alt="{{armor.name}}">
                </div>
                <div class="card-footer text-muted" *ngIf=" armor.groupedMaterials.length == 0 && armor.isUpgradable">
                    Upgrade completed!
                </div>
                <div class="card-footer text-muted" *ngIf=" armor.groupedMaterials.length == 0 && !armor.isUpgradable">
                    Cannot be upgraded.
                </div>
                <div class="card-footer text-muted" *ngIf="armor.groupedMaterials.length > 0">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <button class="nav-link {{armor.showTotalMaterials ? '':'active'}}" id="by-level-{{idx}}"
                                    (click)="changeMaterialDisplayToByLevel(armor, idx)">
                                By Level
                            </button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link {{armor.showTotalMaterials ? 'active':''}}" id="all-materials-{{idx}}"
                                    (click)="changeMaterialDisplayToAll(armor, idx)">
                                All Materials
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show {{armor.showTotalMaterials ? 'active':''}}" id="all-materials-{{idx}}" role="tabpanel" style="padding-top:5px;">
                            <ul>
                                <li *ngFor="let material of armor.groupedMaterials" style="padding-bottom:2px;">
                                    <a target="_blank" href="{{material.externalLink}}">{{material.name}}</a> x{{material.quantity}}
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade show {{armor.showTotalMaterials ? '':'active'}}" id="by-level-{{idx}}" role="tabpanel">

                            <ng-container *ngFor="let materialByLevel of armor.materialsByLevel | mapValues">
                                <ng-container *ngIf="armor.currentLevel < materialByLevel.key">
                                    <span>Level {{materialByLevel.key}}</span>
                                    <ul>
                                        <li *ngFor="let material of materialByLevel.val">
                                            <a target="_blank" href="{{material.externalLink}}">{{material.name}}</a> x{{material.quantity}}
                                        </li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>