<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row" style="padding-left:10px;">
                    <label for="exampleInputEmail1" class="col-form-label">
                        Filter by
                    </label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Armor name"
                               [(ngModel)]="filter.name" (ngModelChange)="changeFiter()">
                    </div>
                </div>
                <div class="row" style="padding-left:10px;">
                    <div class="form-check col-sm-3" style="padding: 5px 0px;">
                        <toggle label="Show only obtained armors"
                                [(ngModel)]="filter.onlyObtained"
                                (ngModelChange)="changeFiter()"></toggle>
                    </div>
                    <div class="form-check col-sm-3" style="padding: 5px 0px 0px 5px;">
                        <toggle label="Hide Amiibo related"
                                [(ngModel)]="filter.hideAmiibo"
                                (ngModelChange)="changeFiter()"></toggle>

                    </div>
                    <div class="form-check col-sm-4" style="padding: 5px 0px;">
                        <toggle label="Show only armors to be upgraded"
                                [(ngModel)]="filter.onlyNotFullyUpgraded"
                                (ngModelChange)="changeFiter()"></toggle>
                    </div>
                </div>
                <div class="row" style="padding-left:10px;">
                    <div class="form-check col-sm-3" style="padding: 5px 0px;">
                        <toggle label="Hide DLC Related"
                                [(ngModel)]="filter.hideDlc"
                                (ngModelChange)="changeFiter()"></toggle>
                    </div>
                    <div class="form-check col-sm-4" style="padding: 5px 0px;">
                        <toggle label="Show Only Armor Not Obtained"
                                [(ngModel)]="filter.onlyNotObtained"
                                (ngModelChange)="changeFiter()"></toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>